.git
.gitignore
.github

.env
.env.*
!.env.example
backend-env.yaml

__pycache__
*.py[cod]
*$py.class

.pytest_cache
.mypy_cache
.ruff_cache

venv
.venv
env

.vscode
.idea

dist
build
*.egg-info

Dockerfile*
docker-compose*
README.md

node_modules
